@model PagedList.IPagedList<string>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Dictionary";
}

<h2>Words</h2>
<table class="table">
    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                <a href="http://localhost:54566/Home/Index/?query=@item">@item</a>
            </td> 
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetDictionary",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
