@model IEnumerable<string>
<div class="row">
    <h1>Welcome to Anagram Generator</h1>
    @if (Model != null)
    {
        <ul>
            @foreach (var anagram in Model)

            {
                <li>@anagram</li>
            }
        </ul>
    }
    @Html.ActionLink("Create", "Create", "Home")
    @Html.ActionLink("GetDictionary", "GetDictionary", "Home")
</div>