@model IEnumerable<string>
<div class="row">
    <h1>Welcome to Anagram Generator</h1>
    @if (Model != null)
    {
        <ul>
            @foreach (var anagram in Model)

            {
                <li>@anagram</li>
            }
        </ul>
    }
    @Html.ActionLink("Create", "Create", "Word")
    @Html.ActionLink("GetDictionary", "GetDictionary", "Word")
    @{ 
        string val = "COOKIES NOT FOUND";

        if (Request.Cookies[ViewBag.CookieName] != null)
        {
            val = Request.Cookies[ViewBag.CookieName].Value;
        }
        <p>@val</p>
     }
</div>