@model List<Anagrams.Interfaces.Models.TimeResultModel>
@{
    ViewBag.Title = "GetLogData";
}

<h2>Get User log data</h2>
<hr />
@if (Model != null)
{

    foreach (var item in Model)
    {
        <h3>TIME OF REQUEST - @item.Time ms</h3>
        <h4>--- ANAGRAMS ---</h4>
        if (item.Anagrams.Count > 0)
        {
            foreach (var anagram in item.Anagrams)
            {
            <p>@anagram</p>
            }
        }
        else
        {
            <p>No anagrams found</p>
        }
        <hr />
    }
}
else
{
    <h2>EMPTY DATA</h2>
}
