@model List<Anagrams.Interfaces.Models.TimeResultModel>
@{
    ViewBag.Title = "GetLogData";
}

<h2>GetLogData</h2>
@if (Model != null)
{
    <p>#############</p>
    foreach (var item in Model)
    {
        <p>TIME OF REQUEST - @item.Time</p>
        <p>--- ANAGRAMS ---</p>
        if (item.Anagrams.Count > 0)
        {
            foreach (var anagram in item.Anagrams)
            {
            <p>@anagram</p>
            }
        }
        else
        {
            <p>No anagrams found</p>
        }
        <p>#############</p>
    }
}
else
{
    <h2>EMPTY DATA</h2>
}
