@model Anagrams.EFCF.Core.Models.Word
@{
    ViewBag.Title = "Search";
}

<h2>Search for anagrams</h2>

@using (Html.BeginForm("Search", "SearchAnagrams", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
    <br />
    <input type="submit" value="Submit" class="btn btn-success btn-lg" />
}
<br />
@Html.ActionLink("GetDictionary", "GetDictionary", "Word", new { area = "" }, new { @class = "btn btn-danger" })
@if (ViewBag.Model != null)
{
    <ul>
        @foreach (var anagram in ViewBag.Model)
        {
            <li style="font-size:medium;">@anagram</li>
        }
    </ul>
}
else
{
    <h3>No anagrams yet!</h3>
}
@if (ViewBag.Limit != null)
{
    <p>@ViewBag.Limit</p>
}
<br />
